body{
    background-color: black;
    color: white;
}

.display{
    padding-bottom: 20px;
}


button{
    background-color: yellow;
    height: 100px;
    width: 100px;
    border: 2px solid white;
    border-radius: 50px;
    font-size: larger;
    font-weight: bolder;
}

.options{
    display: flex;
    gap: 20px;
    padding-bottom: 50px;
    padding-top: 20px;
}
.reset{
    padding-top: 30px;
}


i{
    font-size: 50px;
}